* {
  box-sizing: border-box;
}

:root {
  --n: 1;
}
/* hsl: hue, saturation, lightness 色相 饱和度 亮度*/
body {
  --h: 212deg;
  --l: 43%;
  --brandColor: hsl(var (--h), 71%, var(--l));
  font-family: sans-serif;
  margin: 0;
  background-color: whitesmoke;
}
p {
  line-height: 1.6;
}
ol {
  list-style: none;
  padding: 0 1rem;
  /* define counter */
  counter-reset: list;
}
li {
  /* --为自定义属性 */
  /* 作用域限制在li和其子元素中 */
  /* 使用calc 留意空格以及（）使用 */
  --stop: calc(100% / var(--length) * var(--i));
  --l: 62%;
  --l2: 88%;
  --h: calc((var(--i) - 1) * (180 / var(--length)));
  --c1: hsl(var(--h), 71%, var(--l));
  --c2: hsl(var(--h), 71%, var(--l2));
  position: relative;
  counter-increment:list;
  max-width: 45rem;
  margin: 2rem auto;
  padding: 2rem 1rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0.1rem 0.1rem 1.5rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  background-color: #fff;
}
li::before {
  content: '';
  display: block;
  width: 100%;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  /* linear-gradient(to right颜色从左向右开始渐变,颜色(开始渐变的颜色) 百分比（从多少开始渐变），颜色（渐变到的颜色） 百分比 （从多少开始渐变到）*/
  background: linear-gradient(
    to right,
    var(--c1) var(--stop),
    var(--c2) var(--stop)
  );
}
h3 {
  display: flex;
  align-items: baseline;
  margin: 0 0 1rem;
  color: rgb(70, 70, 70);
}
h3::before {
  content: counter(list);
  display: flex;
  justify-content: center;
  align-items: center;
  flex:0 0 auto;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 1rem;
  background-color: var(--c1);
  color: #fff;
  margin-right: 1rem;
  font-size: 1.5rem;
}
@media(min-width:60em){
  li{
    margin: 3rem auto;
    padding:3rem 2rem 2rem;
  }
  h3{
    font-size: 2.25rem;
    margin: 0 0 2rem;
  }
  h3::before{
    margin-right: 1.5rem;
  }
}
